<!-- Footer -->
<footer class="footer">
    <div class="footer1">
        <ul class="fstCol">
            <div class="header">
                <h1>Stay Connected</h1>
            </div>
            <div class="contain">
                <li class="connected">
                    <p>Join over 10,000 people who revieved a free Peaky Bliders shirt.</p>
                </li>
                <li class="form">
                    <form action="">
                        <input type="text" placeholder="Email">
                        <button>Submit</button>
                    </form>
                </li>
                <li class="icons">
                    <a href="#">
                        <div class="image1"></div>
                    </a>
                    <a href="#">
                        <div class="image2"></div>
                    </a>
                    <a href="">
                        <div class="image3"></div>
                    </a>
                </li>
            </div>

        </ul>

        <div class="scdCol">
            <div class="header">
                <h1>Commited to Small Heath</h1>
            </div>
            <!-- <h1>Commited to Small Heath</h1> -->
            <div class="contain">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at, It is a long established fact that a reader will be distracted by the readable
                    content of a page
                    when looking atIt is a long established fact that a reader will be distracted by the readable
                    content of a page
                    when looking at </p>
                <br>
                <a href="">More about small heath Peaky Blinders ></a>
            </div>
        </div>


        <div class="thrdCol">
            <img src="logofinal.png" alt="">
        </div>

        <div class="frthCol">
            <div class="header">
                <h1>Links</h1>
            </div>
            <div class="links">
                <ul>
                    <li><a href="">Television Series <i class="fa fa-caret-right"></i></i></a> </li>
                    <li><a href="">Follow on instagram <i class="fa fa-caret-right"></i></a></li>
                    <li><a href="">Latest news <i class="fa fa-caret-right"></i></a></li>
                    <li><a href="">Find us <i class="fa fa-caret-right"></i></a></li>
                    <li><a href="">Upcoming events <i class="fa fa-caret-right"></i></a></li>
                </ul>
            </div>
        </div>



    </div>
    <div class="footer-links">
        <div class="centrilize">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">&copy;2015 Orbit Media Studios</a></li>
        </div>
    </div>
</footer>