<!-- Nav bar -->
<nav class="navbar">
    <div class="logo">
        <h3>
            <a href href="#">Bleak Midwinter</a>
        </h3>
    </div>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Photos</a></li>
        <li><a href="#">Contact</a></li>
        <li id="empty"></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
    </ul>

    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>