<!-- Nav bar -->
<nav class="navbar">
    <div class="logo">
        <h3>
            <a href="/">Bleak Midwinter</a>
        </h3>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/seasons">Seasons</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/cast_crew">Cast & Crew</a></li>
        <li id="empty"></li>
        <% if(!currentUser) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <% } else {%>
        <li style="margin-left:0;"><a href="/logout">Logout</a></li>
        <% } %>
    </ul>

    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>