<%= layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
<div class="dline1"></div>
<div class="dline2"></div>


<div class="section">
    <div class="container">
        <div class="images" id="one">
            <h1 id="ars">Arthur Shelby</h1>
        </div>
        <div class="images" id="two">
            <h1 id="js">John Shelby</h1>
        </div>
        <div class="images" id="three">
            <h1 id="ts">Thomas Shelby</h1>
        </div>
        <div class="images" id="four">
            <h1 id="pg">Polly Grey</h1>
        </div>
        <div class="images" id="five">
            <h1 id="als">Alfie Solomons</h1>
        </div>
    </div>
</div>




<!-- <div class="backVideo">
    <video id="vid" autoplay="autoplay" muted loop width="100%" height="100%">
        <source src="backgroundVideo.mp4" type="video/mp4">
    </video>
</div> -->

<div class="backVideoMob">
    <video id="vid" autoplay="autoplay" muted loop width="100%" height="100%">
        <source src="backgroundVideoMob.mp4" type="video/mp4">
    </video>
</div>