<%= layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/login.css">

<form action="/login" method="POST" novalidate>
    <div class="formElements">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button>Login</button>
    </div>
</form>