<%= layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/login.css">

<form action="/login" method="POST" novalidate>
    <div class="formElements">
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button>Login</button>
    </div>
</form>